<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
            * This file is part of CLI Press.
            *
            * The MIT License (MIT)
            * Copyright © 2017
            *
            * Alex Carter, alex@blazeworx.com
            * Keith E. Freeman, cli-press@forsaken-threads.com
            *
            * For the full copyright and license information, please view the LICENSE
            * file that should have been distributed with this source code.
        -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <script src="file://{{ __assetPath }}/js/jquery.js"></script>
        <script src="file://{{ __assetPath }}/js/bootstrap.js"></script>
        <link rel="stylesheet" href="file://{{ __assetPath }}/css/bootstrap.css">
        <script>
            {{ __commonJs }}
        </script>
        <style>
            {{ __commonCss }}

            {{ __baseCss }}

            {{ __themeCss }}
        </style>
    </head>
    <body>
        {{ __html }}
        <script type="text/javascript">
            $(document).find("pre").not('.prettyprint').each(function(){
                $(this).addClass($(this).find("code.language-none").length == 0 ? "prettyprint" : "prettyprintplain");
            });
        </script>
        <script src="file://{{ __assetPath }}/js/run_prettify.js"></script>
    </body>
</html>
